<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/homeStyles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <article class="logo-buscador-p">
        <div><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></div>
        <p>
            <div class="buscador">
            <input type="Buscar" name="buscarProductos" class="buscador"
            placeholder="Buscar productos, marcas y más...">
            <button class="lupa"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
            </div>
        </p>
        <p class="cuerpo" id="centrado">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        </article>
        <nav class="links">
            <ul class="links-1">
                <li><a href="" class="nav-links">Ofertas</a></li>
                <li><a href="" class="nav-links">Tiendas Oficiales</a></li>
                <li><a href="" class="nav-links">Vender</a></li>
                <li><a href="" class="nav-links">Ayuda</a></li>
            </ul>
            <ul class="links-2">
                <li><a href="/register" class="usuario">Creá tu cuenta</a></li>
                <div class="icono-2"><i class="fa-regular fa-id-card"></i></div>
                <li><a href="/login" class="usuario">Ingresá</a></li>
                <div class="icono-2"><i class="fa-solid fa-right-to-bracket"></i></div>
                <li><a href="" class="usuario">Mis Compras</a></li>
                <div class="icono-2"><i class="fa-solid fa-basket-shopping"></i></div>
            </ul>
        </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        <div><img src="/images/img-home-banner.jpg" alt="home-banner"width="100%"></div>
    </header>
    <main>
        <section class="Titulares"><strong>Basado en tu última visita</strong></section>
        <article class="bloque">
            <div><img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"width="250px"></div>
            <div class="caja">
                <p class="precio">$6.770 </p>
                <p class="descuento">40% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
        </article>
        <article class="bloque">
            <div><img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019"width="250px"></div>
            <div class="caja">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">MacBook Pro 2019</p>
            </div>
        </article>
        <article class="bloque">
            <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10"width="250px"></div>
            <div class="caja">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </article>
        <article class="bloque">
            <div><img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart"width="250px"></div>
            <div class="caja">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
        </article>
            <section class="Titulares"><strong>Ofertas</strong></section>
        <article class="bloque">
            <div><img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"width="250px"></div>
            <div class="caja">
                <p class="precio">$6.770 </p>
                <p class="descuento">40% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
        </article>
        <article class="bloque">
            <div><img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019"width="250px"></div>
            <div class="caja">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">MacBook Pro 2019</p>
            </div>
        </article>
        <article class="bloque">
            <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10"width="250px"></div>
            <div class="caja">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </article>
        <article class="bloque">
            <div><img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart"width="250px"></div>
            <div class="caja">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <i class="fa-solid fa-truck"></i>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </div>
        </article>

    </main>
    <footer>
        <section class="container-footer">
            <section class="caja-footer">
                <div class="icono"><i class="fa-solid fa-credit-card fa-2x"></i></div>
                <div class="TituloFooter"><strong>Pagá con tarjeta o en efectivo</strong></div>
                <p class="descripcion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="caja-footer">
                <div class="icono"><i class="fa-solid fa-gift fa-2x"></i></div>
                <div class="TituloFooter"><strong>Envío gratis desde $ 2.500</strong></div>
                <p class="descripcion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="caja-footer">
                <div class="icono"><i class="fa-solid fa-user-shield fa-2x"></i></div>
                <div class="TituloFooter"><strong>Seguridad, de principio a fin</strong></div>
                <p class="descripcion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </section>
            <div class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></div>
    </footer>
</body>
</html>