<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginStyles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <header>
        <article class="logo-buscador-p">
            <div><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></div>
            <p>
                <div class="buscador">
                <input type="Buscar" name="buscarProductos" class="buscador"
                placeholder="Buscar productos, marcas y más...">
                <button class="lupa"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                </div>
            </p>
            <p class="cuerpo" id="centrado">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
            </article>
            <nav class="links">
                <ul class="links-1">
                    <li><a href="" class="nav-links">Ofertas</a></li>
                    <li><a href="" class="nav-links">Tiendas Oficiales</a></li>
                    <li><a href="" class="nav-links">Vender</a></li>
                    <li><a href="" class="nav-links">Ayuda</a></li>
                </ul>
                <ul class="links-2">
                    <li><a href="/register" class="usuario">Creá tu cuenta</a></li>
                    <div class="icono-2"><i class="fa-regular fa-id-card"></i></div>
                    <li><a href="/login" class="usuario">Ingresá</a></li>
                    <div class="icono-2"><i class="fa-solid fa-right-to-bracket"></i></div>
                    <li><a href="" class="usuario">Mis Compras</a></li>
                    <div class="icono-2"><i class="fa-solid fa-basket-shopping"></i></div>
                </ul>
            </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
    </header>
    <main>
        <form class="formulario" action="/" method="GET">
            <p><input type="text" name="usuario" placeholder="Usuario" class="input"></p>
            <p><input type="password" name="contraseña" placeholder="Elegí tu contraseña" class="input"></p>
            <p>
                <button type="submit" value="InicioDeSesion" class="button">Iniciar sesión</button>
            </p>
        </form>
    </main>
    <footer>
        <section class="container-footer">
            <section class="caja-footer">
                <div class="icono"><i class="fa-solid fa-credit-card fa-2x"></i></div>
                <section class="TituloFooter"><strong>Pagá con tarjeta o en efectivo</strong></section>
                <p class="descripcion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="caja-footer">
                <div class="icono"><i class="fa-solid fa-gift fa-2x"></i></div>
                <section class="TituloFooter"><strong>Envío gratis desde $ 2.500</strong></section>
                <p class="descripcion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="caja-footer">
                <div class="icono"><i class="fa-solid fa-user-shield fa-2x"></i></div>
                <section class="TituloFooter"><strong>Seguridad, de principio a fin</strong></section>
                <p class="descripcion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </section>
        <div class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></div>
    </footer>
</body>
</html>